*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    --bg-color:#fff;
    --bg-content:#B7B7B7;
    --bg-before: #EC615B;
    --secont-text: #EC615B;
    --primary-text: #fff;
    --description:#c1c1c1;
    --icon-color: #212121;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color:var(--bg-color);
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.content{
    border-radius: 15px;
    background-color:var(--bg-content);
    width: 960px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: '';
    position: absolute;
    background-color: var(--bg-before);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 60%;
}
.first-content{
    display: flex;
    display: none;
}
/* FIRT COLUM */
.first-colum{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
/*SECOND COLUM */
.second-colum{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-social-midia{
    list-style: none;
    display: flex;

}
.item-social-midia{ 
    border: 1px solid var(--icon-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
}
.social-media{
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media{
    color:var(--icon-color);
    

}
.link-social-media:hover .item-social-midia{
    background-color: var(--bg-before);
    color:var(--primary-text);
    border: 1px solid var(--primary-text);
    transition: .5s ease;

}
.first-colum{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
/* TITLE - DESCRIPTION */
.title{
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 1rem;
}
.title-primary{
    color:var(--primary-text);
}
.title-second{
    color:var(--secont-text);
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary{
    color: var(--description);
}
.description-second{
    color: var(--primary-text);
    margin-top: 1rem;
}


/* 
FORM */
.form{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}
.form input{
    height: 45px;
    border: none;
    background-color: #f0f1f1;
    margin: 8px;
    width: 100%;
    

}
.input-label{
    background-color: #f0f1f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
}
.icom-modify{
    color: #9B9B9B;
    padding: 0 5px;
}

/* BTN */
.btn{
border-radius: 15px;
text-transform: uppercase;
font-weight: 700;
font-size: 10px;
padding: 10px 50px ;
cursor: pointer;
transition: all .5s;
width: 150px;
align-self: center;
border: none;
border-width: 0;
margin-top: 1rem;
}
.btn-primary{
background-color: transparent;
border: 1px solid rgb(255, 255, 255);

}
.btn-second{
background-color: violet;
border: 1px solid palegreen;
}
.btn-primary:hover{
background-color: white;
color: #c1c1c1  
}
.btn-second:hover{
background-color:wheat;
border: 1px solid white;
}



/* SECOND - CONTENT */

.second-content{
    display: flex;
    position: absolute;
}
.second-content .first-colum{
    order: 2;
}
.second-content .second-colum{
    order: 1;
}

.second-content a{
    text-decoration: none;
    font-size: 14px;
    color:var(--icon-color);
}